.mercuryOrbit {
  top: 240px;
  left: 240px;
  width: 120px;
  height: 120px;
}
.mercury {
  background-color: #a68a38;
  height: 10px;
  width: 10px;
  top: 290px;
  left: 235px;
  animation-duration: 1.5s;
  transform-origin: 65px 10px;
}
.mercuryText {
  animation-duration: 1.5s;
}
.venusOrbit {
  top: 210px;
  left: 210px;
  width: 180px;
  height: 180px;
}
.venus {
  background-color: #f69d61;
  height: 22px;
  width: 22px;
  top: 278px;
  left: 199px;
  animation-duration: 3.84s;
  transform-origin: 101px 22px;
}
.venusText {
  animation-duration: 3.84s;
}
.earthOrbit {
  top: 180px;
  left: 180px;
  width: 240px;
  height: 240px;
}
.earth {
  background-color: skyblue;
  height: 18px;
  width: 18px;
  top: 282px;
  left: 171px;
  animation-duration: 6.25s;
  transform-origin: 129px 18px;
}
.earthText {
  animation-duration: 6.25s;
}
.marsOrbit {
  top: 150px;
  left: 150px;
  width: 300px;
  height: 300px;
}
.mars {
  background-color: rgb(140, 119, 63);
  height: 15px;
  width: 15px;
  top: 285px;
  left: 142.5px;
  animation-duration: 11.75s;
  transform-origin: 157.5px 15px;
}
.marsText {
  animation-duration: 11.75s;
}
.jupiterOrbit {
  top: 120px;
  left: 120px;
  width: 360px;
  height: 360px;
}
.jupiter {
  background-color: rgb(156, 164, 143);
  height: 42px;
  width: 42px;
  top: 258px;
  left: 99px;
  animation-duration: 74.04s;
  transform-origin: 201px 42px;
}
.jupiterText {
  animation-duration: 74.04s;
}
.saturnOrbit {
  top: 90px;
  left: 90px;
  width: 420px;
  height: 420px;
}
.saturn {
  background-color: rgb(215, 171, 68);
  height: 26px;
  width: 26px;
  top: 274px;
  left: 77px;
  animation-duration: 183.92s;
  transform-origin: 223px 26px;
}
.saturnText {
  animation-duration: 183.92s;
}
.tianwangOrbit {
  top: 60px;
  left: 60px;
  width: 480px;
  height: 480px;
}
.tianwang {
  background-color: rgb(164, 192, 206);
  height: 27px;
  width: 27px;
  top: 273px;
  left: 46.5px;
  animation-duration: 524.46s;
  transform-origin: 253.5px 27px;
}
.tianwangText {
  animation-duration: 524.46s;
}
.haiwangOrbit {
  top: 30px;
  left: 30px;
  width: 540px;
  height: 540px;
}
.haiwang {
  background-color: rgb(133, 136, 180);
  height: 20px;
  width: 20px;
  top: 280px;
  left: 20px;
  animation-duration: 1028.76s;
  transform-origin: 280px 20px;
}
.haiwangText {
  animation-duration: 1028.76s;
}
